@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root {
  height: 100%;
  background: #1E1F2A;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.busya-scroll::-webkit-scrollbar {
  width: 10px;
}
.busya-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 182, 201, 0.25);
  border-radius: 999px;
}
.busya-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.03);
}
